name: Build iOS Artifacts
on: [push]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
      - name: Build Framework
        run: |
          chmod +x gradlew
          ./gradlew :composeApp:embedAndSignAppleFrameworkForXcode
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Najed-Express-iOS-Core
          path: composeApp/build/xcode-frameworks/main/ComposeApp.framework
