name: Build iOS IPA
on: [push]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
      - name: Setup Gradle
        run: chmod +x gradlew && ./gradlew --version
      - name: Build iOS
        run: ./gradlew :composeApp:embedAndSignAppleFrameworkForXcode
