name: Build iOS IPA
on: [push]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
      
      - name: Accept Android Licenses
        run: yes | sdkmanager --licenses || true

      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew :composeApp:embedAndSignAppleFrameworkForXcode --stacktrace
